@typeparam Titem

@if (MyList == null)
{
    @if (Loading == null) 
    {
        <Loading/>
    }
    else  @Loading
}
else if(MyList.Count == 0)
{
    @if (NoRecords == null)
    { 
        <p>No hay registros para mostrar...</p>
    }
    else @NoRecords
}
else @Body
